h1{
  background-color: blue;
}

p{
  color: white;
  background-color: black;
  
}
ul{
  background-color: red;
  color: yellow;
}

h2{
  background: orange;
}
h3{
  background: purple;
}

li{
  background: green
}


